/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---------------- NAVBAR ---------------- */
.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
}

.logo img {
    width: 130px;
}

/* Desktop Menu */
.nav-menu a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
    font-size: 14px;
}

.nav-menu a:hover {
    text-decoration: underline;
}

/* Hamburger Icon */
.nav-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-toggle span {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px 0;
    border-radius: 2px;
}

/* ---------------- HERO ---------------- */
.hero {
    height: 100vh;
    background: url(images/headphones_hero_1.jpg) no-repeat center center/cover;
    position: relative;
    padding: 130px 20px;
}

/* Overlay */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

/* Text */
.hero-content {
    position: relative;
    z-index: 5;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-top: 180px;
}

.hero-content h1 {
    color: white;
    font-size: 35px;
    margin-bottom: 10px;
}

.hero-content p {
    color: white;
    margin-bottom: 20px;
    font-size: 12px;
}

.cta {
    background: #ff6565;
    border: none;
    color: white;
    padding: 12px 35px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 25px;
}

.cta:hover, .cta:active {
    background: #e63d3d;
    opacity: 0.9;
}

.description {
    font-size: 14px;
    line-height: 2.0;
    max-width: 600px;
    margin: 0 auto;
    opacity: 0.9;
}

/* --------------------------------------------------- */
/* ------------------ MEDIA QUERIES ------------------ */
/* --------------------------------------------------- */

/* ----------- TABLETS (max-width: 768px) ----------- */

@media (max-width: 768px) {
    .navbar {
        padding: 20px 30px;
    }

    .nav-menu {
        display: none;
    }

    .nav-toggle {
        display: flex;
    }

    .hero-content {
        padding-top: 150px;
        max-width: 90%;
    }

    .hero-content h1 {
        font-size: 28px;
    }

    .hero-content p {
        font-size: 13px;
    }

    .cta {
        padding: 10px 28px;
        font-size: 13px;
    }
}

/* ----------- MOBILE (max-width: 480px) ----------- */

@media (max-width: 480px) {
    .navbar {
        padding: 15px 20px;
    }

    .logo img {
        width: 110px;
    }

    .hero-content {
        padding-top: 120px;
    }

    .hero-content h1 {
        font-size: 22px;
    }

    .hero-content p {
        font-size: 11px;
    }

    .description {
        font-size: 12px;
    }

    .cta {
        padding: 10px 25px;
        font-size: 12px;
    }
}
