/* Make body a flex container in column direction */
body {
    display: flex;
    flex-direction: column;
    margin: 0;  /* remove default margin */
    height: 100vh; /* full viewport height */
}

/* Make main a flex container in row direction */
main {
    display: flex;
    flex-direction: row;
    flex: auto; /* automatic width and height */
}

/* Article takes 2/3 of the width */
article {
    flex: 2;
    overflow-y: auto; /* allow scrolling if content overflows */
    padding: 1rem;
    
}

/* Aside takes 1/3 of the width */
aside {
    flex: 1;
    overflow-y: auto; /* allow scrolling if content overflows */
    padding: 1rem;
    
}



